* {
    font-family: DM Sans;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
}

.default {
    color: #8a8a8a;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active {
    font-weight: bolder;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
}