@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter&family=Montserrat&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: DM Sans;
}

body{
    background-color: #F4F4F4;
  
    /* Fill Container di Figma == 100% di JS*/
    width: 100vw; 
    height: 100vh;
  
    /* Arah Flex */
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  
    /* Kasih ke tengah flex */
    align-items: center;
    justify-content: center;
  }